@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

h1 {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header {
    background-color: #1F2937;
    color: white;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    gap: 20px;
}

.hero {
    background-color: #1F2937;
    padding: 100px;
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.place-holder-img {
    background-color: gray;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}

.intro {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

h2 {
    color: white;
    font-size: 48px;
    font-weight: 900;
}

p {
    color: #E5E7EB;
}

.btn-normal {
    padding: 10px;
    background-color: #3882f6;
    border: none;
    color: #E5E7EB;
    font-weight: bold;
    width: 100px;
    border-radius: 8px;
}

.information {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-list {
    display: flex;
}

.info-list-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.information p {
    color: black;
    text-align: center;
}

.blue-box {
    border: 1px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.testimonial {
    background-color: #E5E7EB;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.testimonial p {
    padding-top: 20px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

.action {
    padding: 100px;
}

.action-box {
    background-color: #3882f6;
    border-radius: 6px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h4 {
    color: #E5E7EB;
    font-size: 24px;
    font-weight: 900;
    padding-bottom: 5px;
}

.btn-outline {
    padding: 10px;
    background-color: #3882f6;
    color: #E5E7EB;
    font-weight: bold;
    width: 100px;
    border-radius: 8px;
    border: 2px solid white;
}